:root {
  /* Brand */

  --brand-red-darker: #601E17;
  --brand-red-dark: #AF2A1A;
  --brand-red: #E34935;
  --brand-red-light: #FA7463;
  --brand-red-lighter: #FFEDEA;
  --brand-orange: #D97008;
  --brand-yellow-darker: #5F480C;
  --brand-yellow-dark: #805F10;
  --brand-yellow: #B38600;
  --brand-light: #E2B226;
  --brand-yellow-lighter: #FFF7D7;
  --brand-green-darker: #18563E;
  --brand-green-dark: #1D6E4F;
  --brand-green: #22A06B;
  --brand-green-light: #46CE9A;
  --brand-green-lighter: #DFFCF1;
  --brand-teal-darker: #22565B;
  --brand-teal-dark: #337C85;
  --brand-teal: #1D9AAA;
  --brand-teal-light: #5DC6D2;
  --brand-teal-lighter: #BFF0F5;
  --brand-blue-darker: #07326A;
  --brand-blue-dark: #0056C9;
  --brand-blue: #1D7AFC;
  --brand-blue-light: #549DFC;
  --brand-blue-lighter: #E9F2FF;
  --brand-purple-darker: #362C62;
  --brand-purple-dark: #5E4EAF;
  --brand-purple: #8270DB;
  --brand-purple-light: #9E90EC;
  --brand-purple-lighter: #F2F0FE;
  --brand-magenta: #CD519D;
  --brand-grey-darker: #071F41;
  --brand-grey-dark: #465670;
  --brand-grey: #758195;
  --brand-grey-light: #8490A1;
  --brand-grey-lighter: #DCDFE3;
  --brand-black: #000000;
  --brand-black-light: #000000bf;
  --brand-black-lighter: #00000033;
  --brand-white: #ffffff;
  
  /* Theme */
  --theme-primary-dark: var(--brand-blue-dark);
  --theme-primary: var(--brand-blue);
  --theme-primary-light: var(--brand-blue-light);
  --theme-secondary-dark: var(--brand-teal-dark);
  --theme-secondary: var(--brand-teal);
  --theme-secondary-light: var(--brand-teal-light);
  --theme-neutral-darkest: var(--brand-grey);
  --theme-neutral-darker: var(--brand-grey-darker);
  --theme-neutral-dark: var(--brand-grey-dark);
  --theme-neutral: var(--brand-grey);
  --theme-neutral-light: var(--brand-grey-light);
  --theme-neutral-lighter: var(--brand-grey-lighter);
  --theme-neutral-lightest: var(--brand-grey);
  --theme-information-dark: var(--brand-blue-darker);
  --theme-information: var(--brand-blue);
  --theme-information-light: var(--brand-blue-light);
  --theme-information-lighter: var(--brand-blue-lighter);
  --theme-success-dark: var(--brand-green-dark);
  --theme-success: var(brand --brand-green);
  --theme-success-light: var(--brand-green-lighter);
  --theme-warning-darker: var(--brand-yellow-dark);
  --theme-warning: var(--brand-orange);
  --theme-warning-light: var(--brand-yellow-lighter);
  --theme-error-dark:var(--brand-red-darker);
  --theme-error: var(--brand-red);
  --theme-error-light: var(--brand-red-lighter);
  --theme-highlight:var(--brand-purple);
  --theme-black: var(--brand-black);
  --theme-black-light: var(--brand-black-light);
  --theme-black-lighter: var(--brand-black-lighter);
  --theme-white: var(--brand-white);

    /* Light */

  --text-headings: var(--theme-black);
  --text-body: var(--theme-neutral-darkest);
  --text-action: var(--theme-primary);
  --text-action-hover: var(--theme-primary-dark);
  --text-disabled: var(--theme-neutral);
  --text-highlight:var(--theme-highlight);
  --text-information: var(--theme-information);
  --text-success: var(--theme-success-dark);
  --text-warning: var(--theme-warning-darker);
  --text-error: var(--theme-error-dark);
  --text-on-action: var(--theme-white);
  --text-on-disabled: var(--theme-neutral-darker);
  --icon-primary: var(--theme-neutral-darker);
  --icon-information: var(--theme-information);
  --icon-success: var(--icon-success);
  --icon-warning: var(--theme-warning);
  --icon-error: var(--icon-error);
  --surface-page: var(--theme-white);
  --surface-primary: var(--brand-white);
  --surface-secondary: var(--theme-neutral);
  --surface-disabled: var(--theme-neutral-darker);
  --surface-success: var(--theme-success-light);
  --surface-error: var(--theme-error-light);
  --surface-warning: var(--theme-warning-light);
  --surface-information: var(--theme-information-lighter);
  --surface-highlight: var(--theme-highlight);
  --surface-action-1: var(--theme-primary);
  --surface-action-1-hover: var(--theme-primary-dark);
  --surface-action-2: var(--theme-black);
  --surface-action-2-hover: var(--theme-primary);
  --surface-modal: var(--brand-black-light);
  --border-primary: var(--theme-neutral-light);
  --border-secondary: var(--theme-primary);
  --border-tertiary:var(--theme-black-lighter);
  --border-information: var(--theme-information);
  --border-success: var(--theme-success);
  --border-warning: var(--theme-warning);
  --border-error: var(--theme-error);
  --border-highlight: var(--theme-highlight);
  --border-disabled: var(--theme-neutral-lightest);
  --border-action: var(--theme-primary);
  --border-action-hover: var(--theme-primary-dark);
  --focus-primary:var(--theme-primary);

 



  /* Typography*/

  /* font - family */
  --font-family-name-primary: Roboto;
  
  /* font - size */
  --font-size-body-xs: 12px;
  --font-size-body-sm: 14px;
  --font-size-body-md: 16px;
  --font-size-body-lg: 20px;

  --font-size-heading-xxs: 16px;
  --font-size-heading-xs: 20px;
  --font-size-heading-sm: 24px;
  --font-size-heading-md: 28px;
  --font-size-heading-lg: 32px;
  --font-size-heading-xl: 40px;
  --font-size-heading-hero: 48px;
  
  

  /* line - height*/
  --font-line-height-body-xs: 16px;
  --font-line-height-body-sm: 20px;
  --font-line-height-body-md: 24px;
  --font-line-height-body-lg: 28px;

  --font-line-height-heading-xxs: 24px;
  --font-line-height-heading-xs: 26px;
  --font-line-height-heading-sm: 28px;
  --font-line-height-heading-md: 32px;
  --font-line-height-heading-lg: 40px;
  --font-line-height-heading-xl: 48px;
  --font-line-height-heading-hero: 56px;
  
    /* font-weight */
    --font-weights-xtra-light: 200px;
    --font-weights-light: 300px;
    --font-weights-normal: 400px;
    --font-weights-medium: 500px;
    --font-weights-semi-bold: 600px;
    --font-weights-bold: 700px;
    --font-weights-xtra-bold: 800px;
   
    

  /* text - decoration */
  --font-decoration-underline: underline;
  --font-decoration-none: none;
  



  /* Spacing */

  --spacing-xxxs: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 64px;

  --spacing-button: var(--spacing-xxxs) var(--spacing-xl) ;
  

   /* paragraph - spacing */
  
   --paragraphSpaciing-body-md: 16px;
   --paragraphSpaciing-body-lg: 20px;
  






    /* border - radius */

    --border-radius-none: 0px;
    --border-radius-xs: 2px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-round: 50%;



}